{% extends 'base.html' %}

{% block title %} Django - Treasurehunt | Start{% endblock %}
{% block content%}
        <div class="jumbotron">
            <h2 class="page-header"> An Online Treasurehunt using Django</h1>
            <p>
            <h3>What is django-treasurehunt?</h3>
			django-treasurehunt is an online treasure hunt engine built using Django.

			<h3>Okay, but what exactly is an online treasure hunt?</h3>
			An online treasure hunt is one type of treasure hunt where players or treasure hunters search for answers to the questions given online. The answers or clues can be hidden anywhere on the Internet. Players use clues and hints given along with the question to get the answer. Once they enter the correct answer they are presented with the next question until they have finished all the questions. The  players who complete all the questions
            </p>

            <h2> Try out the demo </h2>
            <a href="/treasurehunt/level/1"><button class="btn btn-primary btn-lg">Start</button></a>
        </div>
{% endblock %}